build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

node-compile-cache

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


.pnpm-store
tsconfig.tsbuildinfo

**/terraform.tfvars
